.chartContainer {
    box-shadow: 2px 4px 16px -6px #000000;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    flex-grow: 1;
  
    .chartTitle {
      font-size: 20px;
      color: #333;
      margin-bottom: 20px;
      font-weight: bold; 
      text-align: center; 
    }
  
    .chartGrid {
      stroke: rgb(228, 225, 225);
    }
  }
  